/* Stenimator styles */

.base {
  display: block;
  position: relative;
  overflow: hidden;
}

.show-code-base {
  display: block;
  position: relative;
  overflow: hidden;
  /* min-height: 400px; */
}

.show-code-base > * {
  width: 100%;
}

.base > * {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  transform: translateX(0);
}

.enter {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: enter-right;
}

.exit {
  position: absolute;
  top: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: exit-right;
}

@keyframes enter-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.enter-reverse {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: enter-left;
}

.exit-reverse {
  position: absolute;
  top: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: exit-left;
}

@keyframes enter-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.enter2 {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: enter-top-right;
}

.exit2 {
  position: absolute;
  top: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: exit-top-left;
}

@keyframes enter-top-right {
  from {
    opacity: 0;
    transform: translate(100px, -100px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-top-left {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    transform: translate(-100px, -100px);
    opacity: 0;
  }
}

.enter2-reverse {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: enter-bottom-left;
}

.exit2-reverse {
  position: absolute;
  top: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: exit-bottom-right;
}

@keyframes enter-bottom-left {
  from {
    opacity: 0;
    transform: translate(-100px, 100px);
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes exit-bottom-right {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    transform: translate(100px, 100px);
    opacity: 0;
  }
}

.enter-top {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 0.75);
  animation-timing-function: ease-in;
  animation-name: enter-top;
  transform-box: content-box;
}

@keyframes enter-top {
  0% {
    opacity: 0.5;
    transform: translate(0, -75%);
  }
  10% {
    opacity: 0.6;
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.exit-top {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 0.75);
  animation-timing-function: ease-in;
  animation-name: exit-top;
  transform-box: content-box;
}

@keyframes exit-top {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  90% {
    opacity: 0.6;
    transform: translate(0, -10%);
  }
  100% {
    opacity: 0.5;
    transform: translate(0, -75%);
  }
}

/* data-fetching animation */

.base-data {
  display: block;
  position: relative;
  overflow: hidden;
  perspective: 200px;
  margin-block: var(--size-5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.base-data > * {
  width: fit-content;
  min-width: 50%;
  height: fit-content;
  text-align: center;
  font-size: 3rem;
  height: 71px;
  transform: translate(0);
  display: block;
}

.enter-top-rotate {
  transform-origin: center center -36px;
  animation-name: enter-top-rotate;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.42, 0, 0.78, 1.07);
  transform-box: content-box;
}

@keyframes enter-top-rotate {
  from {
    opacity: 0;
    transform: rotate3d(1, 0, 0, 60deg);
  }

  to {
    opacity: 1;
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

.exit-bottom-rotate {
  position: absolute;
  top: 0;
  transform-origin: center center -36px;
  animation-name: exit-bottom-rotate;
  animation-duration: 300ms;
  transform-box: content-box;
  animation-timing-function: cubic-bezier(0.42, 0, 0.78, 1.07);
  opacity: 1;
}

@keyframes exit-bottom-rotate {
  from {
    transform: rotate3d(1, 0, 0, 0deg);
  }

  to {
    opacity: 0;
    transform: rotate3d(1, 0, 0, -60deg);
  }
}
