/* Stenimator styles */

.base {
  display: block;
  --x: 100%;
  --x-n: calc(0px - 100%);
  --duration: 500ms;
  --timing: ease-in-out;
  position: relative;
  overflow: hidden;
}

.base > * {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  transform: translateX(0);
}

.enter {
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: enter-right;
}

.exit {
  position: absolute;
  top: 0;
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: exit-right;
}

@keyframes enter-right {
  from {
    opacity: 0;
    transform: translateX(var(--x));
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--x-n));
    opacity: 0;
  }
}

.enter-reverse {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: enter-left;
}

.exit-reverse {
  position: absolute;
  top: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: exit-left;
}

@keyframes enter-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.enter2 {
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: enter-top-right;
}

.exit2 {
  position: absolute;
  top: 0;
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: exit-top-left;
}

@keyframes enter-top-right {
  from {
    opacity: 0;
    transform: translate(100px, -100px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-top-left {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    transform: translate(-100px, -100px);
    opacity: 0;
  }
}

.enter2-reverse {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: enter-bottom-left;
}

.exit2-reverse {
  position: absolute;
  top: 0;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: exit-bottom-right;
}

@keyframes enter-bottom-left {
  from {
    opacity: 0;
    transform: translate(-100px, 100px);
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes exit-bottom-right {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    transform: translate(100px, 100px);
    opacity: 0;
  }
}
