@import '../styles/buttons.min.css';

:host {
  --brand-light: var(--cyan-8);

  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);

  --surface1-light: var(--gray-2);
  --surface2-light: var(--gray-0);
  --surface3-light: var(--gray-1);
  --surface4-light: var(--gray-3);
}

:host {
  /* Light theme */
  --brand: var(--brand-light);

  --text1: var(--text1-light);
  --text2: var(--text2-light);

  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);

  --bg: var(--bg-light);
}

:host {
  display: block;
  display: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: var(--bg);
}

:host {
  background-color: var(--bg);
  --p-maxw: 1400px;
  max-width: var(--p-maxw);
  width: 100%;
  display: flex;
  flex-direction: column;
  outline: 3px solid black;
  outline-offset: -3px;
}

.header {
  background-color: var(--bg);
  border-bottom: var(--border-size-1) solid var(--surface1);
  padding-inline: var(--size-4);
}

.header h4 {
  color: var(--brand);
  font-size: var(--font-size-3);
  margin-block: var(--size-2);


}

.content {
  background-color: var(--bg);
  display: block;
  width: 100%;
  max-width: calc(var(--p-maxw) - 2 * 100px);
  flex: 1;
  margin: 0 auto;
  padding: var(--size-4);
}

a {
  padding: 2rem;
}

h2 {
  font-size: var(--size-7);
}

main > div {
  padding-block: 2rem;
  padding-inline: 6.5rem;
}

/* Stenimator styles */

.base {
  display: block;
  --x: 100%;
  --x-n: calc(0px - 100%);
  --duration: 500ms;
  --timing: ease-in-out;
  position: relative;
  max-width: 400px;
  overflow: hidden;
}

.base > * {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  /* in Firefox elements glitch a bit when this initial transform is not applied  */
  transform: translateX(0);
}

.base .enter {
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: enter-right-left;
}

.base .exit {
  position: absolute;
  top: 0;
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: exit-right-left;
}

@keyframes enter-right-left {
  from {
    opacity: 0;
    transform: translateX(var(--x));
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-right-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--x-n));
    opacity: 0;
  }
}
