/* @import "open-props/style"; */
/* @import "../../../node_modules/open-props/sizes.min.css";
@import "../../../node_modules/open-props/shadows.min.css";
@import "../../../node_modules/open-props/fonts.min.css";
@import "../../../node_modules/open-props/borders.min.css";


@import "../../../node_modules/open-props/normalize.min.css";
@import "../../../node_modules/open-props/normalize.shadow.min.css";
*/
/* @import "../../../node_modules/open-props/buttons.min.css"; */



/* @import "open-props/normalize"; */
/* @import "open-props/buttons"; */

@import "../styles/buttons.min.css";

:host {
  display: block;
}

a {
  padding: 2rem;
}

h2 {
  font-size: var(--size-7);
}

main > div {
  padding-block: 2rem;
  padding-inline: 6.5rem;
}

/* Stenimator styles */

.base {
  display: block;
  --x: 100%;
  --x-n: calc(0px - 100%);
  --duration: 500ms;
  --timing: ease-in-out;
  position: relative;
  max-width: 400px;
  overflow: hidden;
}

.base > * {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  /* in Firefox elements glitch a bit when this initial transform is not applied  */
  transform: translateX(0);
}

.base .enter {
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: enter-right-left;
}

.base .exit {
  position: absolute;
  top: 0;
  animation-duration: var(--duration);
  animation-timing-function: var(--timing);
  animation-name: exit-right-left;
}

@keyframes enter-right-left {
  from {
    opacity: 0;
    transform: translateX(var(--x));
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes exit-right-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--x-n));
    opacity: 0;
  }
}
