nav {
  display: flex;
  justify-content: center;
  gap: var(--size-5);
  margin-bottom: var(--size-3);
}

nav > a {
  text-decoration: none;
  text-decoration-color: var(--text1);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner > svg {
  width: 2rem;
  height: 2rem;
}

.fetch-btn-parent {
  display: flex;
  justify-content: center;
}

.base-data,
.base {
  color: var(--brand2);
}

