pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
} /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.hljs--vars {
  --hljs-bg1: #fff;
  --hljs-bg2: #f0fff4;
  --hljs-bg3: #ffeef0;

  --hljs-c1: #24292e;
  --hljs-c2: #d73a49;
  --hljs-c3: #6f42c1;
  --hljs-c4: #005cc5;
  --hljs-c5: #032f62;
  --hljs-c6: #e36209;
  --hljs-c7: #6a737d;
  --hljs-c8: #22863a;
  --hljs-c9: #24292e;
  --hljs-c10: #005cc5;
  --hljs-c11: #735c0f;
  --hljs-c12: #24292e;
  --hljs-c13: #24292e;
  --hljs-c14: #22863a;
  --hljs-c15: #b31d28;
}

@media (prefers-color-scheme: dark) {
  .hljs--vars {
    --hljs-bg1: #000;
    --hljs-bg2: #0f0004;
    --hljs-bg3: #00110f;
  
    --hljs-c1: #a7bcd2;
    --hljs-c2: #f9394c;
    --hljs-c3: #9469e5;
    --hljs-c4: #549ff5;
    --hljs-c5: #c1d2e6;
    --hljs-c6: #e3a47a;
    --hljs-c7: #6a737d;
    --hljs-c8: #34bf54;
    --hljs-c9: #a7bcd2;
    --hljs-c10: #658fc0;
    --hljs-c11: #d9ad1d;
    --hljs-c12: #5a6571;
    --hljs-c13: #454d56;
    --hljs-c14: #2eac4b;
    --hljs-c15: #de656d;
  }
}

.hljs {
  color: var(--hljs-c1);
  background: var(--bg);
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--hljs-c2);
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--hljs-c3);
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: var(--hljs-c4);
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--hljs-c5);
}
.hljs-built_in,
.hljs-symbol {
  color: var(--hljs-c6);
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--hljs-c7);
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--hljs-c8);
}
.hljs-subst {
  color: var(--hljs-c9);
}
.hljs-section {
  color: var(--hljs-c10);

  font-weight: 700;
}
.hljs-bullet {
  color: var(--hljs-c11);
}
.hljs-emphasis {
  color: var(--hljs-c12);
  font-style: italic;
}
.hljs-strong {
  color: var(--hljs-c13);

  font-weight: 700;
}
.hljs-addition {
  color: var(--hljs-c14);

  background-color: var(--hljs-bg2);
}
.hljs-deletion {
  color: var(--hljs-c15);

  background-color: var(--hljs-bg3);
}
